@charset "utf-8";
/*
Template Name: Optimal
Author: <a href="https://www.os-templates.com/">OS Templates</a>
Author URI: https://www.os-templates.com/
Licence: Free to use under our free template licence terms
Licence URI: https://www.os-templates.com/template-terms
File: Layout CSS
*/

@import url("fontawesome-4.3.0.min.css");
@import url("framework.css");

/* Rows
--------------------------------------------------------------------------------------------------------------- */
.row0{border-bottom:1px solid;}
.row1, .row1 a{}
.row2, .row2 a{}
.row3, .row3 a{}
.row4, .row4 a{}
.row5, .row5 a{}


/* Top Bar
--------------------------------------------------------------------------------------------------------------- */
#topbar{padding:5px 0; font-size:12px;
}

#topbar .fl_left{margin-top:4px;}
#topbar .fl_left .inline > li i{margin:0 5px 0 0; line-height:normal;}

#topbar .faico li{margin:0;
}


/* Header
--------------------------------------------------------------------------------------------------------------- */
#header{padding:30px 0;}

#header #logo{margin-top:16px;}
#header #logo h1{margin:0; padding:0; font-size:22px; text-transform:uppercase;}


/* Page Intro
--------------------------------------------------------------------------------------------------------------- */
#pageintro{padding:160px 0 80px; text-align:center;}
#pageintro{background-image: url("images/demo/yoga.jpg")}
#pageintro li{text-transform:uppercase; font-size:18px; }


/* Flexslider Carousel
--------------------------------------------------------------------------------------------------------------- */
.flex-carousel{position:relative;}

.flex-carousel ul{margin:0; padding:0; list-style:none;}
.flex-carousel .flex-direction-nav li{position:absolute; top:-50px; width:30px; height:30px; overflow:hidden; text-align:center;}
.flex-carousel .flex-direction-nav li:first-child{right:35px;}
.flex-carousel .flex-direction-nav li:last-child{right:0;}
.flex-carousel .flex-direction-nav li a{display:block; border-radius:5px;}
.flex-carousel .flex-direction-nav li a i{display:block; width:30px; height:30px; line-height:30px; font-size:18px;}

.flex-carousel .flex-carousel-items figcaption{padding:20px 0 0 0;}
.flex-carousel .flex-carousel-items figcaption *{margin:0; padding:0;}
.flex-carousel .flex-carousel-items figcaption p{margin-bottom:15px;}


/* Content Area
--------------------------------------------------------------------------------------------------------------- */
.container{padding:80px 0;}

/* Content */
.container .content{}

.products figure{position:relative; max-width:320px; text-align:center;}
.products figure figcaption{position:absolute; bottom:0; left:0; width:100%; padding:20px;}
.products figure figcaption *{margin:0; padding:0;}
.products figure figcaption p{margin-bottom:8px;}
.products figure figcaption p:nth-last-of-type(1){margin-bottom:0;}
.products figure figcaption footer{display:block; width:100%; margin-top:20px;}
.products figure figcaption .btn{display:block; padding:6px 20px 8px;}


/* Comments */
#comments ul{margin:0 0 40px 0; padding:0; list-style:none;}
#comments li{margin:0 0 10px 0; padding:15px;}
#comments .avatar{float:right; margin:0 0 10px 10px; padding:3px; border:1px solid;}
#comments address{font-weight:bold;}
#comments time{font-size:small;}
#comments .comcont{display:block; margin:0; padding:0;}
#comments .comcont p{margin:10px 5px 10px 0; padding:0;}

#comments form{display:block; width:100%;}
#comments input, #comments textarea{width:100%; padding:10px; border:1px solid;}
#comments textarea{overflow:auto;}
#comments div{margin-bottom:15px;}
#comments input[type="submit"], #comments input[type="reset"]{display:inline-block; width:auto; min-width:150px; margin:0; padding:8px 5px; cursor:pointer;}

/* Sidebar */
.container .sidebar{}

.sidebar .sdb_holder{margin-bottom:50px;}
.sidebar .sdb_holder:last-child{margin-bottom:0;}


/* Newsletter
--------------------------------------------------------------------------------------------------------------- */
#newsletter{padding:120px 0;}

#newsletter input, #newsletter button{padding:10px 12px; border:none; border-radius:5px;}
#newsletter input{display:inline-block; min-width:400px;}
#newsletter button{padding:9px 18px; font-weight:bold; text-transform:uppercase; cursor:pointer;}

/* Footer
--------------------------------------------------------------------------------------------------------------- */
#footer{padding:80px 0;}

#footer .title{margin:0 0 30px 0; padding:0 0 8px 0; border-bottom:1px solid; font-size:18px; text-transform:capitalize;}

#footer .linklist li{margin-bottom:10px;}
#footer .linklist li:last-child{margin-bottom:0;}

#footer .smallfont{font-size:.8em; margin:0;}


/* Copyright
--------------------------------------------------------------------------------------------------------------- */
#copyright{padding:20px 0;}
#copyright *{margin:0; padding:0;}


/* Transition Fade
--------------------------------------------------------------------------------------------------------------- */
.faico a, #mainav *, #backtotop{transition:all .3s ease-in-out;}


/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */


/* Navigation
--------------------------------------------------------------------------------------------------------------- */
nav ul, nav ol{margin:0; padding:0; list-style:none;}

#mainav, #breadcrumb, .sidebar nav{line-height:normal;}
#mainav .drop::after, #mainav li li .drop::after, #breadcrumb li a::after, .sidebar nav a::after{position:absolute; font-family:"FontAwesome"; font-size:10px; line-height:10px;}

/* Top Navigation */
#mainav{}
#mainav ul{text-transform:uppercase;}
#mainav ul ul{z-index:9999; position:absolute; width:180px; text-transform:none;}
#mainav ul ul ul{left:180px; top:0;}
#mainav li{display:inline-block; position:relative; margin:0 20px 0 0; padding:0;}
#mainav li:last-child{margin-right:0;}
#mainav li li{width:100%; margin:0;}
#mainav li a{display:block; padding:20px 0;}
#mainav li li a{border:solid; border-width:0 0 1px 0;}
#mainav .drop{padding-left:15px;}
#mainav li li a, #mainav li li .drop{display:block; margin:0; padding:10px 15px;}
#mainav .drop::after, #mainav li li .drop::after{content:"\f0d7";}
#mainav .drop::after{top:25px; left:5px;}
#mainav li li .drop::after{top:15px; left:5px;}
#mainav ul ul{visibility:hidden; opacity:0;}
#mainav ul li:hover > ul{visibility:visible; opacity:1;}

#mainav form{display:none; margin:0; padding:0;}
#mainav form select, #mainav form select option{display:block; cursor:pointer; outline:none;}
#mainav form select{width:100%; padding:5px; border:1px solid;}
#mainav form select option{margin:5px; padding:0; border:none;}

/* Breadcrumb */
#breadcrumb{padding:30px 0;}
#breadcrumb ul{margin:0; padding:0; list-style:none;}
#breadcrumb li{display:inline-block; margin:0 6px 0 0; padding:0;}
#breadcrumb li a{display:block; position:relative; margin:0; padding:0 12px 0 0; font-size:12px;}
#breadcrumb li a::after{top:3px; right:0; content:"\f101";}
#breadcrumb li:last-child a{margin:0; padding:0;}
#breadcrumb li:last-child a::after{display:none;}

/* Sidebar Navigation */
.sidebar nav{display:block; width:100%;}
.sidebar nav li{margin:0 0 3px 0; padding:0;}
.sidebar nav a{display:block; position:relative; margin:0; padding:5px 10px 5px 15px; text-decoration:none; border:solid; border-width:0 0 1px 0;}
.sidebar nav a::after{top:9px; left:5px; content:"\f101";}
.sidebar nav ul ul a{padding-left:35px;}
.sidebar nav ul ul a::after{left:25px;}
.sidebar nav ul ul ul a{padding-left:55px;}
.sidebar nav ul ul ul a::after{left:45px;}

/* Pagination */
.pagination{display:block; width:100%; text-align:center; clear:both;}
.pagination li{display:inline-block; margin:0 2px 0 0;}
.pagination li:last-child{margin-right:0;}
.pagination a, .pagination strong{display:block; padding:8px 11px; border:1px solid; background-clip:padding-box; font-weight:bold;}

/* Back to Top */
#backtotop{z-index:999; display:inline-block; position:fixed; visibility:hidden; bottom:20px; right:20px; width:36px; height:36px; line-height:36px; border-radius:5px; font-size:16px; text-align:center; opacity:.2;}
#backtotop i{display:block; width:100%; height:100%; line-height:inherit;}
#backtotop.visible{visibility:visible; opacity:.5;}
#backtotop:hover{opacity:1;}


/* Tables
--------------------------------------------------------------------------------------------------------------- */
table, th, td{border:1px solid; border-collapse:collapse; vertical-align:top;}
table, th{table-layout:auto;}
table{width:100%; margin-bottom:15px;}
th, td{padding:5px 8px;}
td{border-width:0 1px;}


/* Gallery
--------------------------------------------------------------------------------------------------------------- */
#gallery{display:block; width:100%; margin-bottom:50px;}
#gallery figure figcaption{display:block; width:100%; clear:both;}
#gallery li{margin-bottom:30px;}


/* Font Awesome Social Icons
--------------------------------------------------------------------------------------------------------------- */
.faico{margin:0; padding:0; list-style:none;}
.faico li{display:inline-block; float:left; margin:0 2px 0 0; padding:0; line-height:normal;}
.faico li:last-child{margin-right:0;}

.faico a{display:inline-block; width:30px; height:30px; line-height:30px; font-size:16px; text-align:center; border-radius:5px;}
.faico a{color:#FFFFFF; background-color:transparent;}

.faicon-dribble:hover{background-color:#EA4C89;}
.faicon-facebook:hover{background-color:#3B5998;}
.faicon-google-plus:hover{background-color:#DB4A39;}
.faicon-linkedin:hover{background-color:#0E76A8;}
.faicon-pinterest:hover{background-color:#C8232C;}
.faicon-rss:hover{background-color:#EE802F;}
.faicon-twitter:hover{background-color:#00ACEE;}


/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */


/* Colours
--------------------------------------------------------------------------------------------------------------- */
body{color:#888888; background-color:white;}
a{color:#A7C353;}
hr, .borderedbox{border-color:#D7D7D7;}
label span{color:#FF0000; background-color:inherit;}
.overlay{color:inherit; background-color:white(0,0,.5);}
.btn{color:white; background-color:#1C9524;}
.bg-black-trans{color:#FFFFFF; background-color:rgba(0,0,0,.5);/* #000000 */}
.bg-orange{color:black; background-color:#F2CBAC;}
.bg-orange-trans{color:#DD6EEA; background-color:rgba(255,135,55,.5);/* #FF8737 */}
.bg-red{color:#FFFFFF; background-color:#F2ACEC;}
.bg-red-trans{color:#FFFFFF; background-color:rgba(226,73,75,.5);/* #F2ACEC */}
.bg-blue{color:#FFFFFF; background-color:#456CE5;}

/* Rows */
.row0{color:#E0ECEE; background-color:rgba(0,0,0,.65);}
.row0{border-color:rgba(136,136,136,.2);/* #E0ECEE */}
.row1{color:#FFFFFF; background-color:rgba(0,0,0,.5);}
.row2{color:#888888; background-color:#E6EEE0;}
.row3{color:#888888; background-color:#FFFFFF;}
.row4{color:black; background-color:#9DA89E;}
.row5, .row5 a{color:white; background-color:#4F5850;}
.row100{color:#FFFFFF; background-color:#000000;}


/* .overlay, .row0, .row1{background-image:url("images/overlay.png")} */
.overlay, .row0, .row1{background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABhJREFUeNpiYGBgePz//38GRhABAgABBgBFTAbfCBNE2AAAAABJRU5ErkJggg==");}


/* Top Bar */
#topbar .faico a{color:inherit;}
#topbar .faico a:hover{color:#FFFFFF;}


/* Header */
#header #logo a{color:inherit;}


/* Flexslider Carousel */
.flex-carousel .flex-direction-nav li a{color:#A7C353; background:#F8F8F8;}


/* Newsletter */
#newsletter input{color:#1C1C1C; background-color:rgba(255,255,255,.75);}


/* Footer */
#footer .title{border-color:#1C1C1C;}


/* Navigation */
#mainav li a{color:inherit;}
#mainav .active a, #mainav a:hover, #mainav li:hover > a{color:#A7C353; background-color:inherit;}
#mainav li li a, #mainav .active li a{color:#FFFFFF; background-color:rgba(0,0,0,.6); border-color:rgba(0,0,0,.6);}
#mainav li li:hover > a, #mainav .active .active > a{color:#FFFFFF; background-color:#A7C353;}
#mainav form select{color:#FFFFFF;text-emphasis: bold; background-color:#000000; border-color:rgba(136,136,136,.5);/* #888888 */}

#breadcrumb a{color:#888888; background-color:inherit;}
#breadcrumb li:last-child a{color:blue;}

.container .sidebar nav a{color:inherit; border-color:#D7D7D7;}
.container .sidebar nav a:hover{color:#A7C353;}

.pagination a, .pagination strong{border-color:#D7D7D7;}
.pagination .current *{color:#FFFFFF; background-color:#A7C353;}

#backtotop{color:#FFFFFF; background-color:#A7C353;}


/* Tables + Comments */
table, th, td, #comments .avatar, #comments input, #comments textarea{border-color:#D7D7D7;}
th{color:#FFFFFF; background-color:#373737;}
tr, #comments li, #comments input[type="submit"], #comments input[type="reset"]{color:inherit; background-color:#FBFBFB;}
tr:nth-child(even), #comments li:nth-child(even){color:inherit; background-color:#F7F7F7;}
table a, #comments a{background-color:inherit;}


/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */


/* Media Queries
--------------------------------------------------------------------------------------------------------------- */
@-ms-viewport{width:device-width;}


/* Smartphone + Tablet
--------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width:180px) and (max-width:750px) {
	.imgl, .imgr{display:inline-block; float:none; margin:0 0 10px 0;}
	.fl_left, .fl_right{display:block; float:none;}
	.one_half, .one_third, .two_third, .one_quarter, .two_quarter, .three_quarter{display:block; float:none; width:auto; margin:0 0 30px 0; padding:0;}
}

@media screen and (min-width:180px) and (max-width:900px) {
	#topbar, #header, #pageintro, #breadcrumb, .container, #newsletter, #footer, #copyright{max-width:90%;}

	#topbar{}

	#header{}

	#pageintro{}

	#mainav{}
	#mainav ul{display:none;}
	#mainav form{display:block; margin-top:12px;}

	#breadcrumb{}

	.container{}
	#comments input[type="reset"]{margin-top:10px;}
	.pagination li{display:inline-block; margin:0 5px 5px 0;}

	#newsletter{}

	#footer{}

	#copyright{}
}


/* Max Wrapper Width - Laptop, Desktop etc.
--------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width:978px) {
	#topbar, #header, #pageintro, #breadcrumb, .container, #newsletter, #footer, #copyright{max-width:978px;}
}


/* Other
--------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:650px) {
	.scrollable{display:block; width:100%; margin:0 0 30px 0; padding:0 0 15px 0; overflow:auto; overflow-x:scroll;}
	.scrollable table{margin:0; padding:0; white-space:nowrap;}

	.inline li, .inline input{display:block; margin-bottom:10px;}
	.pushright li{margin-right:0;}

	.font-x2{font-size:1.4rem;}
	.font-x3{font-size:1.6rem;}

	#topbar{text-align:center;}
	#topbar *{margin:0;}
	#topbar .fl_left ul{margin:0 0 10px 0; line-height:normal;}
	#topbar .faico li{float:none;}

	#header{text-align:center;}
	#header #logo{margin:15px 0 5px;}

	#pageintro{padding-top:80px;}

	.flex-carousel .figcaption{margin:0;}

	.container{padding-bottom:50px;}

	#newsletter input{min-width:100%; width:100%;}

	#footer{padding-bottom:50px;}

	#copyright p:first-of-type{margin-bottom:10px;}
}

.error
{
  color: red;
  size: 80%
}
.hidden
{
  display:none;
}